<script>
  document.addEventListener("DOMContentLoaded",function(){
    var success=getQueryStringValue('success');
    if(success==='1'){
      alert('Banners Uploaded!');
    }
    else if(error==='2'){
      alert('No File Uploaded!');
    }
    else{

    }
  });
</script>
<script>
  function getQueryStringValue (key) {  
  return decodeURIComponent(window.location.search.replace(new RegExp("^(?:.*[&\\?]" + encodeURIComponent(key).replace(/[\.\+\*]/g, "\\$&") + "(?:\\=([^&]*))?)?.*$", "i"), "$1"));  
}  
</script>
<script src="dist/bundle.min.js"></script>
<script language="javascript" type="text/javascript">
function randomString() {
	var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
	var string_length = 10;
	var randomstring = '';
	for (var i=0; i<string_length; i++) {
		var rnum = Math.floor(Math.random() * chars.length);
		randomstring += chars.substring(rnum,rnum+1);
	}
	document.uploadForm.license.value = randomstring;
}
</script>
<script>
  function setchkval(ele){
    var target=document.getElementsByTagName("input");
    var target2=document.getElementById("footermgmttxt");
    var target3=document.getElementById("footermgmtbox");
    for(var i=0;i<target.length;i++){
    if(target[i]==ele){
      if(target[i].checked){
        target[i].value=true;
      }
      else{
        target[i].value=false;
        target3.value="0";
      }
      
    }
    }
  }
</script>
<script>
  function setchk2val(ele){
    var target=document.getElementsByTagName("input");
    var target2=document.getElementById("footermgmttxt");
    var target3=document.getElementById("footermgmtbox");
    for(var i=0;i<target.length;i++){
    if(target[i]==ele){
      if(target[i].checked){
        target2.hidden=false;
        target3.hidden=false;
        target[i].value=true;
      }
      else{
        target[i].value=false;
        target2.hidden=true;
        target3.hidden=true;
        target3.value="0";
      }
      
    }
    }
  }
</script>
<script>
 function setvolval(){
   var target=document.getElementById("todoCheck5");
   var target2=document.getElementById("vollimit");
    var target3=document.getElementById("vollimit2");
   if(target.checked){
      target2.disabled=false;
   }
   else{
    target2.disabled=true;
    target2.value="0";
    target3.value="0";
   }
 }
</script>
<script>
  function updatehiddeninfo(){
    var target=document.getElementById("vollimit");
    var target2=document.getElementById("vollimit2");
    target2.value=target.value;
  }
</script>
<script language="javascript" type="text/javascript">
function constdata() {
    let dropdown = document.uploadForm.constituency;
    dropdown.length = 0;

    let defaultOption = document.createElement('option');
    defaultOption.text = 'Select one';
    defaultOption.disabled = true;
    const stateval=document.uploadForm.state.value;
    dropdown.add(defaultOption);
    dropdown.selectedIndex = 0;
    var dat="{{data1}}".replace(/&quot;/g,'"')
    var listdata=JSON.parse(dat);
	for(let i=0;i<listdata[stateval].constituency.length;i++){
         option = document.createElement('option');
      	  option.text = listdata[stateval].constituency[i].constituency_name;
      	  option.value = listdata[stateval].constituency[i].constituency_name;
      	  dropdown.add(option);
    }

}
</script>
<script language="javascript" type="text/javascript">
function assembdata() {
    let dropdown = document.uploadForm.assembly;
    dropdown.length = 0;
    var ptr=0;
    let defaultOption = document.createElement('option');
    
    const stateval=document.uploadForm.state.value;
    const constval=document.uploadForm.constituency.value;
    dropdown.add(defaultOption);
    dropdown.selectedIndex = 0;
    var dat="{{data1}}".replace(/&quot;/g,'"')
    var listdata=JSON.parse(dat);
   
	for(let i=0;i<listdata[stateval].constituency.length;i++){
    if(listdata[stateval].constituency[i].constituency_name === constval){
      for(let j=0;j<listdata[stateval].constituency[i].assembly.length;j++){
         option = document.createElement('option');
      	  option.text = listdata[stateval].constituency[i].assembly[j].assembly_name;
      	  option.value = listdata[stateval].constituency[i].assembly[j].assembly_name;
      	  dropdown.add(option);
      }
      
    }
    }
  loadlist();

}
</script>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="card-header">
        <h3 class="card-title">Select Option</h3>
      </div>
      <div class="card-body">
    
        <div class="card card-primary">
          <table class="table table-bordered text-center">
                  <tr>
                    <td>
                      {{#if ranking1}}
                      <a href="ranking1" class="btn btn-block btn-primary btn-lg">{{ranking1}}</a>
                      {{else}}
                      <a href="ranking1" class="btn btn-block btn-primary btn-lg">Ranking 1</a>
                      {{/if}}
                    </td>
                      <td>
                      {{#if ranking2}}
                      <a href="ranking2" class="btn btn-block btn-primary btn-lg">{{ranking2}}</a>
                      {{else}}
                      <a href="ranking2" class="btn btn-block btn-primary btn-lg">Ranking 2</a>
                      {{/if}}
                    </td>
                      <td>
                      {{#if ranking3}}
                      <a href="ranking3" class="btn btn-block btn-primary btn-lg">{{ranking3}}</a>
                      {{else}}
                      <a href="ranking3" class="btn btn-block btn-primary btn-lg">Ranking 3</a>
                      {{/if}}
                    </td>
                     <td>
                      {{#if ranking4}}
                      <a href="ranking4" class="btn btn-block btn-primary btn-lg">{{ranking4}}</a>
                      {{else}}
                      <a href="ranking4" class="btn btn-block btn-primary btn-lg">Ranking 4</a>
                      {{/if}}
                    </td>
                      <td>
                      {{#if ranking5}}
                      <a href="ranking5" class="btn btn-block btn-primary btn-lg">{{ranking5}}</a>
                      {{else}}
                      <a href="ranking5" class="btn btn-block btn-primary btn-lg">Ranking 5</a>
                      {{/if}}
                    </td>
                     <td>
                      {{#if ranking6}}
                      <a href="ranking6" class="btn btn-block btn-primary btn-lg">{{ranking6}}</a>
                      {{else}}
                      <a href="ranking6" class="btn btn-block btn-primary btn-lg">Ranking 6</a>
                      {{/if}}
                    </td>
                  </tr>
                </table>
   
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
         <script src="plugins/jquery/jquery.min.js"></script>
          <script src="dist/choices.min.js"></script>
          <link href="dist/choices.css" rel="stylesheet">
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables -->
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>
  <script>
function loadlist() {
var secondElement = new Choices('#assembly', { allowSearch: true }).setValue([]);
}

</script>
      
