<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="card-header">
        <h3 class="card-title">Ranking 5</h3>
      </div>
      <div class="card-body">
    
        <div class="card card-primary">
        
          </div>
          <div class="card-body">
            <form ref='uploadForm' action="/ranking5" method="POST" encType="multipart/form-data">
           <div class="form-group">
              <label for="inputProjectLeader">Title</label>
              <input type="text" name="title" class="form-control" placeholder="Title" value="{{title}}" required>
            </div>
             <div class="form-group">
              <label for="inputProjectLeader">Rank 1 Name</label>
              <input type="text" name="rank1" class="form-control" placeholder="Rank 1" value="{{rank1}}" required>
            </div>
            <div class="form-group">
              <label for="inputProjectLeader">Rank 2 Name</label>
              <input type="text" name="rank2" class="form-control" placeholder="Rank 2" value="{{rank2}}" required>
            </div>
            <div class="form-group">
              <label for="inputProjectLeader">Rank 3 Name</label>
              <input type="text" name="rank3" class="form-control" placeholder="Rank 3" value="{{rank3}}" required>
            </div>
            <div class="form-group">
              <label for="inputProjectLeader">Rank 4 Name</label>
              <input type="text" name="rank4" class="form-control" placeholder="Rank 4" value="{{rank4}}" required>
            </div>
             <div class="form-group">
              <label for="inputProjectLeader">Rank 5 Name</label>
              <input type="text" name="rank5" class="form-control" placeholder="Rank 5" value="{{rank5}}" required>
            </div>
            <div class="text-center mt-5 mb-3">
          
              <button type="submit" class="btn btn-primary btn-block">Add/Edit Ranks</a>
            </div>
          </form>
            <!-- /.card -->
          </section>
          <!-- right col -->
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
      </div>
      <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables -->
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->